.card{
    transform: translate(0,0);
    width: 200px;
    height: 250px;
    margin: 5px;
    background-color: #000;
    border-radius: 4px;
}
.card .image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
}
.card .image img{
    width: 100%;
    height: 100%;
    transition: .5s;
}
.card .image img:hover{
    opacity: 0.5;
    transform: translateX(30%);
}
.card .details{
    position: absolute;
    top:0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: #eee;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
    border-radius: 4px;
}
.card:hover .details{
    transform: perspective(2000px) rotateY(0deg);
}
.card .details .center{
    padding: 10px;
    text-align: center;
    background-color: #111;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.card .details .center h3{
    margin: 0;
    padding: 0;
    color: #4cd3c2;
    line-height: 2em;
    text-transform: uppercase;
}
.card .details .center h3 span,p{
    color: #fff;
}
