* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.fullpage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}
.navigation {
  position: fixed;
  width: 100%;
  background-color: #dadcd0;
  opacity: 0.7;
  z-index: 1000;
}
.navigation .changecolor {
  float: left;
  margin: 10px;
  color: #854b5b;
}
.navigation > ul {
  padding-right: 5%;
  list-style-type: none;
  overflow: hidden;
}
.navigation > ul > li {
  float: right;
  display: block;
  padding: 15px;
}
.navigation > ul > li > a {
  text-decoration: none;
  color: #282c34;
  font-weight: bold;
  padding: 5px;

}
.navigation > ul > li > a:hover {
 
  border-bottom: 2px solid #854b5b;
}
.first {
  background-color: #282c34;
  position: relative;
}
.first>h1 {
  font-family: 'Lexend Mega', sans-serif;
  font-size: 3em;
  font-weight: bold;
  line-height: 2em;
  color: #fff;
  filter: blur(2);
  z-index: 10;
}
.first>hr{
width: 10%;
border: 2px solid #854b5b;
}
.first>h2 {
  color: #fff;
  filter: blur();
  line-height: 3em;
  z-index: 10;
}
.first .social {
  opacity: 0.5;
  position: relative;
}
.first .social:hover {
  opacity: 1;
  animation-name: social;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}
@keyframes social{
  0%{top:0px}
  50%{top:-10px}
  100%{top:0px}
}

#arrowdown{
  color: #dadcd0;
  position: absolute;
  bottom: 3%;
  left: 49%;
  animation-name: arrowdown;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  z-index: 1000000;
}
@keyframes arrowdown{
  0%{bottom:3%}
  50%{bottom:5%}
  100%{bottom:3%}
}


#About {
  background-color: #854b5b;
  position: relative;

}
.about h2 {
  line-height: 3em;
  font-size: 3em;
  font-weight: bold;
  color: #fff;
  z-index: 11;
}
.about p:first-child {
  font-weight: bold;
}
.about p {
  color: #fff;
  text-align: left;
  width: 100vh;
  line-height: 2em;
}
.skill {
  background-color: #dadcd0;
  position: relative;
  z-index: 10;
  height: auto;
}
.skill > h2 {
  line-height: 3em;
  font-weight: bold;
  font-size: 2em;
}
.skill > div {
  position: relative;
  display: flex;
  width: 80%;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.skill>#arrowdown{
  color: #282c34;
}
